@keyframes linetoright {
    0% {
        width: 0;
        background: greenyellow;
        
    }
    50%{
        background: aqua;
        width: 100%;
        
    }
    100%{
        width: 0;
        background: aqua;
    }
}
@keyframes linetoleft {
    0% {
        width: 0;
        background: greenyellow;
        
    }
    25% {
        background: yellow;
    }
    50%{
        width: 98vw;
        background: red;
    }
    100%{
        width: 0;
        background: cyan;
    }
}
