@media screen and (max-width: 300px) {
    .history {
        font-size: 0.6rem;
    }
   
}

@media screen and (max-width: 460px) {
    .history {
        font-size: 0.7rem;
    }
    .history p::first-letter {
        font-size: 2.5rem;
    }
    
}

@media screen and (max-width: 550px) {
    .history {
        font-size: 0.9rem;
    }
    .history p::first-letter {
        font-size: 2.7rem;
    }
    

}
@media screen and (min-width: 551px) {
    .history p::first-letter {
        font-size: 2.8rem;
        margin-top: 4px;
    }
    
}
@media  screen and (min-width: 750px) {
    .history {
        font-size: 1.3rem;
    }
    .history p::first-letter {
        font-size: 3rem;
        margin-top: 7px;
        font-weight: bold;
    }
}
@media screen and (min-width: 570px) {
    .car-pic-container:hover {
        box-shadow: 0 0 2px 3px rgba(255, 0, 0, 0.507);
        transform: scale(1.4);
        z-index: 1;
        margin-top: 60px;
    }    
    .card {
        height: 55vh;
    }
    .card:first-of-type {
        height: 60vh;
    }
    .card:last-of-type {
        height: initial;
    }
}